# Xcode
#
# gitignore contributors: code-review, hbeDesign, inket, lloeki, marksands, outis, s0hno, vrvm

## Build results
build/
DerivedData/
.build/

## Swift Package Manager
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/
.swiftpm/configuration/
.swiftpm/playgrounds/

## Common Unit Test downloads
TestResults/

## OS X
.DS_Store
